<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="@string/app_name_cohorttest"
        tools:replace="android:label">

        <!-- Drop the prod launcher; cohortTest exposes its own activity. -->
        <activity
            android:name="com.musubi.eurio.MainActivity"
            tools:node="remove" />

        <activity
            android:name="com.musubi.eurio.cohorttest.CohortTestActivity"
            android:exported="true"
            android:label="@string/app_name_cohorttest"
            android:theme="@style/Theme.Eurio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
